:root {
    --pink-wave-color: #FF71CE;
    --blue-wave-color: #01cdfe;
    --green-wave-color: ##05ffa1;
    --purple-wave-color: #b967ff;
    --yellow-wave-color: #fffb96;
    --nav-height: 4.5rem;
    --border-thickness: 5px;
    --footer-height: 6rem;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}

.background-site {
    min-height: 100%;
    overflow: auto;
}

.nav-bar {
    background-color: #FF71CE;
    border: var(--border-thickness) solid black;
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 37px;
    height: 37px;
    margin: 24px;
    background-color: #D9D9D9;
}

.link-bar {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.main-content {
    min-height: calc(100% - var(--nav-height) - var(--footer-height) - 4*var(--border-thickness));
    border-left: var(--border-thickness) solid black;
    border-right: var(--border-thickness) solid black;
    background-image: -webkit-linear-gradient( 
        var(--pink-wave-color),
        var(--yellow-wave-color));
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    overflow: auto;
    background-color: white;
    border: var(--border-thickness) solid black;
    height: var(--footer-height);
    background: -webkit-linear-gradient( 
        var(--yellow-wave-color),
        var(--purple-wave-color));
}

.card {
    border: var(--border-thickness) solid black;
    border-radius: 1rem;
    min-height: fit-content;
}

